<form action="/<%=mensa.id%>/save" method="post" >
     <% if(user.lieblingsMensen.filter(value=> value.id.equals(mensa.id)).length > 0){ %> 
        <div class="fav-btn">
          <input id="<%=mensa.id%>" type="checkbox" name="checkbox" checked value="<%=mensa.id%>" onChange="this.form.submit()"/>
        <label for="<%=mensa.id%>"/>
        </div>
        <% } else { %>
          <div class="fav-btn">
            <input id="<%=mensa.id%>" type="checkbox" name="checkbox" checked value="<%=mensa.id%>" onChange="this.form.submit()"/>
          <label for="<%=mensa.id%>"/>
          </div>
             <% } %>

      </form>