<%- include("partials/header"); -%>


<section class="jumbotron head">

  <div class="container">

    <div class="row justyfy-content-start">

      <div class="col-7">

        <h3>
          <a href="/mensen/<%=mensaid%>/<%=mensaName%>/<%=today%>/meals" class="text-muted"><%=mensaName%></a>
        </h3>


      </div>

    </div>


  </div>

</section>

<main role="main" class="container-fluid main">

  <div class="container-fluid">

    <div id="demo" class="carousel slide mb-3 mt-3 shadow d-block" data-interval="false" data-ride="carousel">

      <!-- The slideshow -->
      <div class="carousel-inner card text-center d-block">

        <div class="carousel-item active card-body justify-content-center">
          <h5 class="card-title">ANGEBOTE AM</h5>
          <h6 class="card-subtitle mb-3 text-muted"><%=weekday%><%=today%></h6>


        </div>
        <div class="carousel-item card-body d-block">
          <h5 class="card-title">ANGEBOTE AM</h5>
          <h6 class="card-subtitle mb-3 text-muted "><%=weekday%><%=today%></h6>

        </div>
        <div class="carousel-item card-body">
          <h5 class="card-title">ANGEBOTE AM</h5>
          <h6 class="card-subtitle mb-3 text-muted"><%=weekday%><%=today%></h6>


        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="/mensen/<%=mensaid%>/<%=mensaName%>/<%=lastday%>/meals" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="/mensen/<%=mensaid%>/<%=mensaName%>/<%=nextday%>/meals" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>

    <!--  FILTERS   -->

    <!--Accordion wrapper-->
    <div class="accordion md-accordion shadow mb-3" id="accordionEx" role="tablist" aria-multiselectable="true">

      <!-- Accordion card -->
      <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingOne1">
          <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
            aria-controls="collapseOne1">
            <h5 class="mb-0 text-muted nounderline">
              FILTERN <i class="fas fa-angle-down rotate-icon nounderline"></i>
            </h5>

          </a>
        </div>

        <!-- Card body -->
        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
          data-parent="#accordionEx">
          <div class="card-body">


            <div id="myBtnContainer" class="container-fluid">
              <button class="btn btn-outline-secondary filterbtn" onclick="filterSelection('all')">Alles</button>
              <button class="btn btn-outline-secondary filterbtn" onclick="filterSelection('vegan')">Vegan</button>
              <button class="btn btn-outline-secondary filterbtn" onclick="filterSelection('meat')">Fleich</button>
              <button class="btn btn-outline-secondary filterbtn"
                onclick="filterSelection('vegetarian')">Vegetarisch</button>

              <button class="btn btn-outline-secondary filterbtn" onclick="filterSelection('grun')">Grüne Ampel</button>

            </div>

          </div>
        </div>
      </div>
    </div>




    <!-- Accordion card -->


    <!-- Accordion wrapper -->

    <!-- // FILTERS   -->



    <% if(dishes.length != 0){ %>
    <% dishes.forEach(function(dish){ %>
    <% let className= getClassName(dish.notes); %>
    <% var dishString= JSON.stringify(dish); %>
    <% let ampelName= getAmpel(dish.notes); %>


    <div class="filterDiv d-none <%=className%> <%=ampelName%>">
      <div id="foodcard" class="card d-flex mb-3 shadow ">
        <h5 class="card-header d-flex justify-content-between"><%=dish.name%>

          <form action="/speise/<%=dish.id%>/save" method="post">
            <div class="add-btn d-flex justify-content-between selector">
              <input id="<%=dish.id%>" type="checkbox" name="checkbox" value="<%=dishString%>"
                onChange="this.form.submit()" />
              <label for="<%=dish.id%>" />
            </div>
          </form>

        </h5>
        <div class="card-body">
          <h6 class="card-title"><%=dish.category%></h6>
          <p class="card-text">
            Studenten: <%=dish.prices.students%> €
            Arbeiter: <%=dish.prices.employees%> €
            Regular: <%=dish.prices.others%> €</p>

          <p id="info">INFO: <%=dish.notes%></p>

          <%  if(ampelName == "grun"){ %>
          <span id="grun" class="<%=ampelName%>"> <i class="far fa-lightbulb gruneampel"></i>
            &nbsp;|&nbsp;</span>

          <% } else if(ampelName == "gelb") { %>
          <span id="gelb" class="<%=ampelName%>"> <i class="far fa-lightbulb gelbeampel"></i>
            &nbsp;|&nbsp;</span>

          <% } else if(ampelName == "rot") { %>
          <span id="gelb" class="<%=ampelName%>"> <i class="far fa-lightbulb roteampel"></i>
            &nbsp;|&nbsp;</span>
          <% } %>

          <%  if(className == "vegan"){ %>
          <span id="vegan" class="<%=className%>"> VEGAN <i class="fas fa-leaf"></i> </span>
          <% } else if(className == "meat") { %>
          <span id="meat" class="<%=className%>"> FLEICH <i class="fas fa-drumstick-bite"></i></span>
          <% } else { %>
          <span id="vegetarian" class="<%=className%>"> VEGETARIAN <i class="fas fa-egg"></i> </span>
          <% } %>



        </div>

      </div>

    </div>


    <script type="text/javascript">


      // Begin of | Filtering von Speisen
      // Source: https://www.w3schools.com/howto/howto_js_filter_elements.asp

      filterSelection("all")
      function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
          w3RemoveClass(x[i], "d-block");
          if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "d-block");
        }
      }

      // Show filtered elements
      function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
          if (arr1.indexOf(arr2[i]) == -1) {
            element.className += " " + arr2[i];
          }
        }
      }

      // Hide elements that are not selected
      function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
          while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1);
          }
        }
        element.className = arr1.join(" ");
      }

      // Add active class to the current control button (highlight it)
      var btnContainer = document.getElementById("myBtnContainer");

      var btns = btnContainer.getElementsByClassName("filterbtn");

      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
          var current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active", "");
          this.className += " active";
        });
      }


// End of | Filtering von Speisen
    </script>


    <% }) %>


    <!-- Für die Fälle: Samstag und Sonntag oder Feiertag und Datenbank liefert keine Daten zurueckt. -->


    <% } else { %>


      <% if(weekday === "Sonntag" || "Samstag"){%>
    <div class="card mb-3 shadow">
      <h5 class="card-header">Keine Speise gefunden!</h5>
      <div class="card-body">
        <h6 class="card-title">Es ist Wochenende! Mensa ist an diesem Tag voraussichtlich zugeschlossen!</h6>


      </div>
    </div>
    <% } else { %>
      <div class="card mb-3 shadow">
        <h5 class="card-header">Keine Speise gefunden!</h5>
        <div class="card-body">
          <h6 class="card-title">Es ist Feiertag! Mensa ist an diesem Tag voraussichtlich zugeschlossen!</h6>
  
  
        </div>
      </div>
      <% } %>
  </div>



  <% } %>

  <div class="overlay">

  </div>

</main>

</div>

</div>





<%- include("partials/footer"); -%>