<%- include("partials/header"); -%>


<section class="jumbotron">

  <div class="container">

    <div class="row justyfy-content-start">

      <div class="col-7">

        <img src="https://via.placeholder.com/100x100" class="rounded float-left mr-4" alt="...">
        <h3>
          <a href="#" class="text-muted">Mensa Name</a>
        </h3>

        <h6 class="text-muted">Mensa Adress</h6>
      </div>

    </div>


  </div>

</section>

<div class="container-fluid">

  <div id="demo" class="carousel slide mb-3 shadow" data-interval="false" data-ride="carousel">

    <!-- The slideshow -->
    <div class="carousel-inner card text-center">

      <div class="carousel-item active card-body justify-content-center">
        <h5 class="card-title">ANGEBOTE AM</h5>
        <h6 class="card-subtitle mb-3 text-muted"><%=today%></h6>

      </div>
      <div class="carousel-item card-body">
        <h5 class="card-title">ANGEBOTE AM</h5>
        <h6 class="card-subtitle mb-3 text-muted"><%=today%></h6>

      </div>
      <div class="carousel-item card-body">
        <h5 class="card-title">ANGEBOTE AM</h5>
        <h6 class="card-subtitle mb-3 text-muted"><%=today%></h6>

      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="/mensen/<%=mensaid%>/<%=lastday%>/meals" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="/mensen/<%=mensaid%>/<%=nextday%>/meals" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>





<% if(dishes.length != 0){ %>
  <%  dishes.forEach(function(dish){ %>



    <div class="card mb-3 shadow">
      <h5 class="card-header"><%=dish.category%></h5>
      <div class="card-body">
        <h6 class="card-title"><%=dish.name%></h6>
        <p class="card-text"><%=dish.prices.students%></p>
  
      </div>
    </div>




      <% }) %>


   <!-- Für die Fälle: Samstag und Sonntag und Datenbank liefert keine Daten zurueckt. -->


      <% } else { %>


        
  <div class="card mb-3 shadow">
    <h5 class="card-header">Keine Speise gefunden!</h5>
    <div class="card-body">
      <h6 class="card-title">Mensa ist an diesem Tag voraussichtlich zugeschlossen!</h6>


    </div>
  </div>

</div>



        <% } %>
<%- include("partials/footer"); -%>
