
<%- include("partials/header"); -%>
        <main>
            <div class="container" id="container">
                <div class="form-container regis-container">
                        <h1> Account Erstellen</h1>
                    <!-- PARTIALS -->
                    <%- include("partials/messages");  -%>
                        <form action="/users/registrieren" method="POST">
                            <div>
                              <label for="name">Name</label>
                              <input type="text" id="name" name="name" required value="<%= typeof name != 'undefined' ? name : '' %>">
                            </div>
                            <div>
                              <label for="email">Email</label>
                              <input type="email" id="email" name="email" required value="<%= typeof email != 'undefined' ? email : '' %>">
                            </div>
                            <div>
                              <label for="password">Password</label>
                              <input type="password" id="password" name="password" required value="<%= typeof password != 'undefined' ? password : '' %>">
                            </div>
                            <div>
                                <label for="password">Confirm Password</label>
                                <input type="password" id="password2" name="password2" required value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                              </div>
                            <button type="submit">Register</button>
                            <a>Haben Sie bereits Account? </a>
                            <a href="/users/login" class="k-button">Einloggen</a>
                          </form>
                    </form>
                </div>
            </div>
        </main>
        <%- include("partials/footer"); -%>